In [5]:
import os

import pandas as pd
import numpy as np

os.chdir("../src/")
from utils.data_prep import data_prep as dp

In [7]:
X_train = pd.read_csv("../data/train_values.csv", index_col=0)
X_train.head(20)

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
building_id,,,,,,,,,,,,,,,,,,,,,
802906,6,487,12198,2,30,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
28830,8,900,2812,2,10,8,7,o,r,n,...,0,0,0,0,0,0,0,0,0,0
94947,21,363,8973,2,10,5,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
590882,22,418,10694,2,10,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
201944,11,131,1488,3,30,8,9,t,r,n,...,0,0,0,0,0,0,0,0,0,0
333020,8,558,6089,2,10,9,5,t,r,n,...,1,0,0,0,0,0,0,0,0,0
728451,9,475,12066,2,25,3,4,n,r,n,...,0,0,0,0,0,0,0,0,0,0
475515,20,323,12236,2,0,8,6,t,w,q,...,0,0,0,0,0,0,0,0,0,0
441126,0,757,7219,2,15,8,6,t,r,q,...,0,0,0,0,0,0,0,0,0,0
989500,26,886,994,1,0,13,4,t,i,n,...,0,0,0,0,0,0,0,0,0,0
7962,17,1119,12188,2,20,9,6,t,r,q,...,0,0,0,0,0,0,0,0,0,0
452227,17,1275,4004,1,10,8,4,t,u,n,...,0,0,0,0,0,0,0,0,0,0
444381,12,335,8167,2,15,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
287845,17,817,6284,3,45,7,7,t,r,q,...,0,0,0,0,0,0,0,0,0,0
605134,18,1295,6994,2,25,7,6,t,r,n,...,0,0,0,0,0,0,0,0,0,0
563431,4,484,11114,2,55,4,4,n,r,n,...,0,0,0,0,0,0,0,0,0,0
633759,6,706,12267,2,5,7,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
980230,27,216,12323,3,10,7,7,t,r,n,...,0,0,0,0,0,0,0,0,0,0
354011,26,1401,3904,1,20,12,3,t,u,n,...,0,0,0,0,0,0,0,0,0,0
483543,8,41,6024,2,20,16,4,t,r,n,...,0,0,0,0,0,0,0,0,0,0

In [10]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260601 entries, 802906 to 747594
Data columns (total 38 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   geo_level_1_id                          260601 non-null  int64
 1   geo_level_2_id                          260601 non-null  int64
 2   geo_level_3_id                          260601 non-null  int64
 3   count_floors_pre_eq                     260601 non-null  int64
 4   age                                     260601 non-null  int64
 5   area_percentage                         260601 non-null  int64
 6   height_percentage                       260601 non-null  int64
 7   land_surface_condition                  260601 non-null  object
 8   foundation_type                         260601 non-null  object
 9   roof_type                               260601 non-null  object
 10  ground_floor_type                       260601 non-null  object
 11  other_floor_type                        260601 non-null  object
 12  position                                260601 non-null  object
 13  plan_configuration                      260601 non-null  object
 14  has_superstructure_adobe_mud            260601 non-null  int64
 15  has_superstructure_mud_mortar_stone     260601 non-null  int64
 16  has_superstructure_stone_flag           260601 non-null  int64
 17  has_superstructure_cement_mortar_stone  260601 non-null  int64
 18  has_superstructure_mud_mortar_brick     260601 non-null  int64
 19  has_superstructure_cement_mortar_brick  260601 non-null  int64
 20  has_superstructure_timber               260601 non-null  int64
 21  has_superstructure_bamboo               260601 non-null  int64
 22  has_superstructure_rc_non_engineered    260601 non-null  int64
 23  has_superstructure_rc_engineered        260601 non-null  int64
 24  has_superstructure_other                260601 non-null  int64
 25  legal_ownership_status                  260601 non-null  object
 26  count_families                          260601 non-null  int64
 27  has_secondary_use                       260601 non-null  int64
 28  has_secondary_use_agriculture           260601 non-null  int64
 29  has_secondary_use_hotel                 260601 non-null  int64
 30  has_secondary_use_rental                260601 non-null  int64
 31  has_secondary_use_institution           260601 non-null  int64
 32  has_secondary_use_school                260601 non-null  int64
 33  has_secondary_use_industry              260601 non-null  int64
 34  has_secondary_use_health_post           260601 non-null  int64
 35  has_secondary_use_gov_office            260601 non-null  int64
 36  has_secondary_use_use_police            260601 non-null  int64
 37  has_secondary_use_other                 260601 non-null  int64
dtypes: int64(30), object(8)
memory usage: 77.5+ MB

In [9]:
X_train.describe().T

,count,mean,std,min,25%,50%,75%,max
geo_level_1_id,260601.0,13.900353,8.033617,0.0,7.0,12.0,21.0,30.0
geo_level_2_id,260601.0,701.074685,412.710734,0.0,350.0,702.0,1050.0,1427.0
geo_level_3_id,260601.0,6257.876148,3646.369645,0.0,3073.0,6270.0,9412.0,12567.0
count_floors_pre_eq,260601.0,2.129723,0.727665,1.0,2.0,2.0,2.0,9.0
age,260601.0,26.535029,73.565937,0.0,10.0,15.0,30.0,995.0
area_percentage,260601.0,8.018051,4.392231,1.0,5.0,7.0,9.0,100.0
height_percentage,260601.0,5.434365,1.918418,2.0,4.0,5.0,6.0,32.0
has_superstructure_adobe_mud,260601.0,0.088645,0.284231,0.0,0.0,0.0,0.0,1.0
has_superstructure_mud_mortar_stone,260601.0,0.761935,0.425900,0.0,1.0,1.0,1.0,1.0
has_superstructure_stone_flag,260601.0,0.034332,0.182081,0.0,0.0,0.0,0.0,1.0
has_superstructure_cement_mortar_stone,260601.0,0.018235,0.133800,0.0,0.0,0.0,0.0,1.0
has_superstructure_mud_mortar_brick,260601.0,0.068154,0.252010,0.0,0.0,0.0,0.0,1.0
has_superstructure_cement_mortar_brick,260601.0,0.075268,0.263824,0.0,0.0,0.0,0.0,1.0
has_superstructure_timber,260601.0,0.254988,0.435855,0.0,0.0,0.0,1.0,1.0
has_superstructure_bamboo,260601.0,0.085011,0.278899,0.0,0.0,0.0,0.0,1.0
has_superstructure_rc_non_engineered,260601.0,0.042590,0.201931,0.0,0.0,0.0,0.0,1.0
has_superstructure_rc_engineered,260601.0,0.015859,0.124932,0.0,0.0,0.0,0.0,1.0
has_superstructure_other,260601.0,0.014985,0.121491,0.0,0.0,0.0,0.0,1.0
count_families,260601.0,0.983949,0.418389,0.0,1.0,1.0,1.0,9.0
has_secondary_use,260601.0,0.111880,0.315219,0.0,0.0,0.0,0.0,1.0
has_secondary_use_agriculture,260601.0,0.064378,0.245426,0.0,0.0,0.0,0.0,1.0
has_secondary_use_hotel,260601.0,0.033626,0.180265,0.0,0.0,0.0,0.0,1.0
has_secondary_use_rental,260601.0,0.008101,0.089638,0.0,0.0,0.0,0.0,1.0
has_secondary_use_institution,260601.0,0.000940,0.030647,0.0,0.0,0.0,0.0,1.0
has_secondary_use_school,260601.0,0.000361,0.018989,0.0,0.0,0.0,0.0,1.0
has_secondary_use_industry,260601.0,0.001071,0.032703,0.0,0.0,0.0,0.0,1.0
has_secondary_use_health_post,260601.0,0.000188,0.013711,0.0,0.0,0.0,0.0,1.0
has_secondary_use_gov_office,260601.0,0.000146,0.012075,0.0,0.0,0.0,0.0,1.0
has_secondary_use_use_police,260601.0,0.000088,0.009394,0.0,0.0,0.0,0.0,1.0
has_secondary_use_other,260601.0,0.005119,0.071364,0.0,0.0,0.0,0.0,1.0

In [ ]:
dp.cardinalidade

In [29]:
dp.cardinalidade(X_train)

,Atributo,Cardinalidade,Valores
18,has_superstructure_mud_mortar_brick,2,"[0, 1]"
20,has_superstructure_timber,2,"[0, 1]"
21,has_superstructure_bamboo,2,"[0, 1]"
22,has_superstructure_rc_non_engineered,2,"[0, 1]"
23,has_superstructure_rc_engineered,2,"[0, 1]"
24,has_superstructure_other,2,"[0, 1]"
27,has_secondary_use,2,"[0, 1]"
19,has_superstructure_cement_mortar_brick,2,"[0, 1]"
28,has_secondary_use_agriculture,2,"[0, 1]"
30,has_secondary_use_rental,2,"[0, 1]"
31,has_secondary_use_institution,2,"[0, 1]"
32,has_secondary_use_school,2,"[0, 1]"
33,has_secondary_use_industry,2,"[0, 1]"
34,has_secondary_use_health_post,2,"[0, 1]"
35,has_secondary_use_gov_office,2,"[0, 1]"
29,has_secondary_use_hotel,2,"[0, 1]"
36,has_secondary_use_use_police,2,"[0, 1]"
37,has_secondary_use_other,2,"[0, 1]"
16,has_superstructure_stone_flag,2,"[0, 1]"
15,has_superstructure_mud_mortar_stone,2,"[0, 1]"
14,has_superstructure_adobe_mud,2,"[0, 1]"
17,has_superstructure_cement_mortar_stone,2,"[0, 1]"
7,land_surface_condition,3,"[n, o, t]"
9,roof_type,3,"[n, q, x]"
25,legal_ownership_status,4,"[a, r, v, w]"
12,position,4,"[j, o, s, t]"
11,other_floor_type,4,"[j, q, s, x]"
10,ground_floor_type,5,"[f, m, v, x, z]"
8,foundation_type,5,"[h, i, r, u, w]"
3,count_floors_pre_eq,9,"[1, 2, 3, 4, 5, 6, 7, 8, 9]"
26,count_families,10,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
13,plan_configuration,10,"[a, c, d, f, m, n, o, q, s, u]"
6,height_percentage,27,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1..."
0,geo_level_1_id,31,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
4,age,42,"[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,..."
5,area_percentage,84,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
1,geo_level_2_id,1414,"[0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
2,geo_level_3_id,11595,"[0, 1, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1..."

In [11]:
y_train = pd.read_csv("../data/train_labels.csv", index_col=0)
y_train.head()

             damage_grade
building_id
802906                  3
28830                   2
94947                   3
590882                  2
201944                  3

In [28]:
dp.cardinalidade(y_train)

       Atributo  Cardinalidade    Valores
0  damage_grade              3  [1, 2, 3]