In [27]:
import os

import pandas as pd
import numpy as np

os.chdir("../src/")
from utils.data_prep import data_prep as dp

In [9]:
X_train = pd.read_csv("../data/train_values.csv", index_col=0)
X_train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
building_id,,,,,,,,,,,,,,,,,,,,,
802906,6,487,12198,2,30,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
28830,8,900,2812,2,10,8,7,o,r,n,...,0,0,0,0,0,0,0,0,0,0
94947,21,363,8973,2,10,5,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
590882,22,418,10694,2,10,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
201944,11,131,1488,3,30,8,9,t,r,n,...,0,0,0,0,0,0,0,0,0,0

In [29]:
dp.cardinalidade(X_train)

,Atributo,Cardinalidade,Valores
18,has_superstructure_mud_mortar_brick,2,"[0, 1]"
20,has_superstructure_timber,2,"[0, 1]"
21,has_superstructure_bamboo,2,"[0, 1]"
22,has_superstructure_rc_non_engineered,2,"[0, 1]"
23,has_superstructure_rc_engineered,2,"[0, 1]"
24,has_superstructure_other,2,"[0, 1]"
27,has_secondary_use,2,"[0, 1]"
19,has_superstructure_cement_mortar_brick,2,"[0, 1]"
28,has_secondary_use_agriculture,2,"[0, 1]"
30,has_secondary_use_rental,2,"[0, 1]"
31,has_secondary_use_institution,2,"[0, 1]"
32,has_secondary_use_school,2,"[0, 1]"
33,has_secondary_use_industry,2,"[0, 1]"
34,has_secondary_use_health_post,2,"[0, 1]"
35,has_secondary_use_gov_office,2,"[0, 1]"
29,has_secondary_use_hotel,2,"[0, 1]"
36,has_secondary_use_use_police,2,"[0, 1]"
37,has_secondary_use_other,2,"[0, 1]"
16,has_superstructure_stone_flag,2,"[0, 1]"
15,has_superstructure_mud_mortar_stone,2,"[0, 1]"
14,has_superstructure_adobe_mud,2,"[0, 1]"
17,has_superstructure_cement_mortar_stone,2,"[0, 1]"
7,land_surface_condition,3,"[n, o, t]"
9,roof_type,3,"[n, q, x]"
25,legal_ownership_status,4,"[a, r, v, w]"
12,position,4,"[j, o, s, t]"
11,other_floor_type,4,"[j, q, s, x]"
10,ground_floor_type,5,"[f, m, v, x, z]"
8,foundation_type,5,"[h, i, r, u, w]"
3,count_floors_pre_eq,9,"[1, 2, 3, 4, 5, 6, 7, 8, 9]"
26,count_families,10,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
13,plan_configuration,10,"[a, c, d, f, m, n, o, q, s, u]"
6,height_percentage,27,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1..."
0,geo_level_1_id,31,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
4,age,42,"[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,..."
5,area_percentage,84,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
1,geo_level_2_id,1414,"[0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
2,geo_level_3_id,11595,"[0, 1, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1..."

In [11]:
y_train = pd.read_csv("../data/train_labels.csv", index_col=0)
y_train.head()

             damage_grade
building_id
802906                  3
28830                   2
94947                   3
590882                  2
201944                  3

In [28]:
dp.cardinalidade(y_train)

       Atributo  Cardinalidade    Valores
0  damage_grade              3  [1, 2, 3]